

**简要描述：**

- <%if(model.description!=null&&model.description!=""){%>${model.description} <%}else{%> 无<%}%>

**接口负责人：**
- <%if(model.author!=null&&model.author!=""){%>${model.author} <%}else{%> 无<%}%>

<%if(model.date!=null&&model.date!=""){%>
**编码日期：**
- ${model.date}
<%}%>

<%if(model.url!=null&&model.url.~size>0){%>
**请求URL：**
<%for(column in model.url){%>
- ` ${column} `
<%}%>
<%}%>

<%if(model.requiresPermissions!=null&&model.requiresPermissions.~size>0){%>
**权限标识**
<%for(column in model.requiresPermissions){%>
- ` ${column} `
<%}%>
<%}%>

**请求方式：**
-  <%if(model.methods.~size>0){%> <%for(column in model.methods){ %><%if(!columnLP.first){%>/<%}%>${column}<%}%> <%}else{%> 无<%}%>

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
<%if(model.paramTag!=null&&model.paramTag.~size>0){%>
<%for(column in model.paramTag){%>
|${column.paramName}  | <%if(column.require){%>是 <%}else{%> 否<%}%>   |${column.paramType}  |<%if(column.paramDesc!=""){%>${column.paramDesc}  <%}else{%> 无<%}%>   |
<%}%>
<%}%>
<%if(model.paramFieldInfos!=null&&model.paramFieldInfos.~size>0){%>
<%for(column in model.paramFieldInfos){%>
|${column.name}  | <%if(column.require){%>是 <%}else{%> 否<%}%>   |${column.simpleTypeName}  |<%if(column.comment!=""){%>${column.comment} <%}else{%>无<%}%>   |
<%}%>
<%}%>

**错误示例**

```
{
    "code": 500,
    "msg": "错误信息",
}
```

**正确示例**

```
${model.respbody}
```

<%if(model.respData!=null&&model.respData!=""){%>
**返回结果描述：**
- ${model.respData}
<%}%>

**返回参数说明**

|参数名|类型|说明|
|:-----  |:-----|-----   |
<%if(model.respParam!=null&&model.respParam.~size>0){%>
<%for(column in model.respParam){%>
|${column.paramName} |${column.paramType}   | <%if(column.paramDesc!=""){%>${column.paramDesc} <%}else{%>无<%}%>  |
<%}%>
<%}%>
<%if(model.fieldInfos!=null&&model.fieldInfos.~size>0){%>
<%for(column in model.fieldInfos){%>
|${column.name} |${column.simpleTypeName}   |<%if(column.comment!=""){%>${column.comment} <%}else{%>无<%}%>   |
<%}%>
<%}%>





